#wrapper {
  display: flex;
  overflow: hidden; /* will contain if #first is longer than #second */
}
#assignments {
  float:left; /* add this */
}
#results {
  overflow: hidden; /* if you don't want #second to wrap below #first */
}

#vzor {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  margin-right: 0;
  padding-bottom: 50px;
}

footer {
  display: flex;
}
