#wrapper {
  display: flex;
  //overflow: hidden; /* will contain if #first is longer than #second */
}
#assignments {
  flex: 1;
  //float:left; /* add this */
}
#results {
  width: 500px;
  //float:right; /* if you don't want #second to wrap below #first */
}

.content{
  text-align:center;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.center{
  margin: 0 auto;
  display: block;
}


footer {
  text-align: center;
  display: flex;
}

