#wrapper {
  display: flex;
  //overflow: hidden; /* will contain if #first is longer than #second */
}
#assignments {
  flex: 1;
  //float:left; /* add this */
}
#results {
  width: 500px;
  //float:right; /* if you don't want #second to wrap below #first */
}



footer {
  display: flex;
}
